*.eps
*.pdf
*.mp4
*.avi
*.pyc
*.pyd
*\).py
*.txt
*.dat
~*
*~
*.dropbox.attr
*.swp
*.png
*.rtf
*.mat
*.tif
*.shelve
*.pickle
data/
dist/
build/
*.spec
*.so
*.c
*.bak
*.yaml

results/

.DS_Store
*/__pycache__
__pycache__

*monkeytype.sqlite3
.idea/
*/.idea/